body {
	font-family: arial, helvetica;
	font-size: 12pt;
}

#container {
	margin: auto;
	width: 500px;

}

label {
	width: 200px;
	text-align: right;
	display: block;
	float: left;
	margin-right: 5px;
}

.loginerrors {
	padding: 10px;
	background-color: #ffcccc;
	border: 1px solid red;
	margin: auto;
	width: 500px;
	color: red;
	font-weight: bold;
	margin-bottom: 30px;
}