#code_wrapper {
	float: left;
	width: 100%;
	height: 100%;
}
#code_wrapper form {
	height: 100%;
	width: 100%;
}
.code-editor {
	height: 1000px;
	width: 100%;

}
#rendered {
	height: 100%;
	width: 100%;
	border: 0;
}

.CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
}

.ui-layout-pane {
	padding: 0;
}

.filetree {
	font-size: 75%;

}

.filetree a {
	text-decoration: none;
	color: black;
}

.filetree a:hover {
	text-decoration: underline;
	color: red;
}

/* some changes to jquery-ui tabs styling */
.ui-tabs {
	padding: 0;
	height: 100%;
	border: 0;
	font-size: 100%;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 3px;
	font-size: 75%;
	font-weight: bold;
}

.ui-tabs .ui-tabs-panel {
	padding: 0;
}