<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Simple Layout Demo</title>

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/jquery.ui.all.js"></script>
		<script type="text/javascript" src="js/jquery.layout.js"></script>
		<link rel="stylesheet" type="text/css" href="css/jquery.layout.css" />

		<script type="text/javascript" src="js/layout.js"></script>
		<link rel="stylesheet" type="text/css" href="css/layout.css" />
		<!--[if lt IE 9]>
				<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

		<div class="ui-layout-north">
			NORTH PANE
		</div>

		<div class="ui-layout-west">
			WEST PANE
		</div>

		<div class="ui-layout-south">
			SOUTH PANE
		</div>

		<div class="ui-layout-east">
			EAST PANE
		</div>

		<div class="ui-layout-center">
			CENTER PANE
		</div>

	</body>
</html>