<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Register</title>
		<meta charset="ISO-8859-1">

		<!-- PAGE SPECIFIC STYLES -->
		<link rel="stylesheet" href="css/register.css">
	</head>
	<body>
		<div id="container">
			<div class="center"><h2>New User Registration</h2></div>
			<?php echo registererrors::render($registererrors); ?>
			<form method="post" action="<?php echo $request->getServerVar('PHP_SELF'); ?>">
				<div class="fieldwrapper">
					<label for="username">User</label>
					<input type="text" name="username" value="<?php echo $username; ?>">
				</div>
				<div class="fieldwrapper">
					<label for="password">Password</label>
					<input type="password" name="password">
				</div>

				<div class="fieldwrapper">
					<label for="submit">&nbsp;</label>
					<input type="submit" value="Register">
				</div>
			</form>
			<div class="center">
				<a href="login.php">Click here to login</a>
			</div>
		</div>
		<!-- SCRIPTS -->
		<!--[if lt IE 9]>
				<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- PAGE SPECIFIC SCRIPT -->
		<script src="js/register.js"></script>
	</body>
</html>