<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Online PHP IDE</title>
		<!-- LAYOUT v 1.3.0 -->
		<link rel="stylesheet" href="lib/css/layout-default-latest.css">

		<!-- TREEVIEW v 1.5pre -->
		<link rel="stylesheet" href="js/jquery.treeview-1.5pre/jquery.treeview.css">

		<!-- CODEMIRROR v 2.23 -->
		<link rel="stylesheet" href="js/CodeMirror-2.23/lib/codemirror.css">

		<!-- JQUERY UI v 1.8.18 -->
		<link rel="stylesheet" href="js/jquery-ui-1.8.18.custom/css/smoothness-hard/jquery-ui-1.8.18.custom.css">

		<!-- PAGE SPECIFIC STYLES -->
		<link rel="stylesheet" href="css/simple.css">

	</head>
	<body>

		<div class="ui-layout-west">
			<div class="windowheading">File Manager</div>
			<div id="filebrowser_wrapper">
				<ul id="filetree" class="filetree treeview-famfamfam">
					<li class="open">
						<span class="folder">/</span>
						<?php echo filetree::render($filetreepath, $filetreepath); ?>

					</li>
				</ul>
			</div>
		</div>
		<div class="ui-layout-center">
			<div class="windowheading">Editor</div>
			<div id="code_wrapper">
				<div id="tabs">
					<?php echo tabs::render($openfiles, $filetreepath, $projectname); ?>

				</div>
			</div>
		</div>


		<div class="ui-layout-east">
			<div class="windowheading">Output</div>
			<div id="rendered_wrapper">
				<iframe id="rendered" name="rendered"></iframe>
			</div>
		</div>

		<!-- SCRIPTS -->
		<!--[if lt IE 9]>
				<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- JQUERY v 1.7.2 -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

		<!-- LAYOUT v 1.3.0 -->
		<script src="lib/js/jquery-ui-1.8.16.js"></script>
		<script src="lib/js/jquery.layout-1.3.0-rc30.4.js"></script>

		<!-- TREEVIEW v 1.5pre -->
		<script src="js/jquery.treeview-1.5pre/jquery.treeview.js"></script>


		<!-- CODEMIRROR v 2.23 -->
		<script src="js/CodeMirror-2.23/lib/codemirror.js"></script>
		<script src="js/CodeMirror-2.23/mode/php/php.js"></script>
		<script src="js/CodeMirror-2.23/mode/xml/xml.js"></script>
		<script src="js/CodeMirror-2.23/mode/javascript/javascript.js"></script>
		<script src="js/CodeMirror-2.23/mode/css/css.js"></script>
		<script src="js/CodeMirror-2.23/mode/clike/clike.js"></script>

		<!-- JQUERY UI v 1.8.18 -->
		<script src="js/jquery-ui-1.8.18.custom/js/jquery-ui-1.8.18.custom.min.js"></script>

		<!-- PAGE SPECIFIC SCRIPT -->
		<script src="js/simple.js"></script>
	</body>
</html>